In [1]:
#Importing important modules
import numpy as np 
import pandas as pd

In [2]:
#Loading data
play_train = pd.read_csv("train.csv")
play_test = pd.read_csv("test.csv")

In [3]:
#Shape of the data
print(play_train.shape)
print(play_test.shape)

(957919, 120)
(493474, 119)

In [4]:
#Glimpse of the training data
play_train.head()

,id,f1,f2,f3,f4,f5,f6,f7,f8,f9,...,f110,f111,f112,f113,f114,f115,f116,f117,f118,claim
0,0,0.10859,0.004314,-37.566,0.017364,0.28915,-10.25100,135.12,168900.0,3.992400e+14,...,-12.2280,1.7482,1.90960,-7.11570,4378.80,1.2096,8.613400e+14,140.1,1.01770,1
1,1,0.10090,0.299610,11822.000,0.276500,0.45970,-0.83733,1721.90,119810.0,3.874100e+15,...,-56.7580,4.1684,0.34808,4.14200,913.23,1.2464,7.575100e+15,1861.0,0.28359,0
2,2,0.17803,-0.006980,907.270,0.272140,0.45948,0.17327,2298.00,360650.0,1.224500e+13,...,-5.7688,1.2042,0.26290,8.13120,45119.00,1.1764,3.218100e+14,3838.2,0.40690,1
3,3,0.15236,0.007259,780.100,0.025179,0.51947,7.49140,112.51,259490.0,7.781400e+13,...,-34.8580,2.0694,0.79631,-16.33600,4952.40,1.1784,4.533000e+12,4889.1,0.51486,1
4,4,0.11623,0.502900,-109.150,0.297910,0.34490,-0.40932,2538.90,65332.0,1.907200e+15,...,-13.6410,1.5298,1.14640,-0.43124,3856.50,1.4830,-8.991300e+12,NaN,0.23049,1

In [5]:
play_train.info(verbose  = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 957919 entries, 0 to 957918
Data columns (total 120 columns):
 #   Column  Dtype
---  ------  -----
 0   id      int64
 1   f1      float64
 2   f2      float64
 3   f3      float64
 4   f4      float64
 5   f5      float64
 6   f6      float64
 7   f7      float64
 8   f8      float64
 9   f9      float64
 10  f10     float64
 11  f11     float64
 12  f12     float64
 13  f13     float64
 14  f14     float64
 15  f15     float64
 16  f16     float64
 17  f17     float64
 18  f18     float64
 19  f19     float64
 20  f20     float64
 21  f21     float64
 22  f22     float64
 23  f23     float64
 24  f24     float64
 25  f25     float64
 26  f26     float64
 27  f27     float64
 28  f28     float64
 29  f29     float64
 30  f30     float64
 31  f31     float64
 32  f32     float64
 33  f33     float64
 34  f34     float64
 35  f35     float64
 36  f36     float64
 37  f37     float64
 38  f38     float64
 39  f39     float64
 40  f40     float64
 41  f41     float64
 42  f42     float64
 43  f43     float64
 44  f44     float64
 45  f45     float64
 46  f46     float64
 47  f47     float64
 48  f48     float64
 49  f49     float64
 50  f50     float64
 51  f51     float64
 52  f52     float64
 53  f53     float64
 54  f54     float64
 55  f55     float64
 56  f56     float64
 57  f57     float64
 58  f58     float64
 59  f59     float64
 60  f60     float64
 61  f61     float64
 62  f62     float64
 63  f63     float64
 64  f64     float64
 65  f65     float64
 66  f66     float64
 67  f67     float64
 68  f68     float64
 69  f69     float64
 70  f70     float64
 71  f71     float64
 72  f72     float64
 73  f73     float64
 74  f74     float64
 75  f75     float64
 76  f76     float64
 77  f77     float64
 78  f78     float64
 79  f79     float64
 80  f80     float64
 81  f81     float64
 82  f82     float64
 83  f83     float64
 84  f84     float64
 85  f85     float64
 86  f86     float64
 87  f87     float64
 88  f88     float64
 89  f89     float64
 90  f90     float64
 91  f91     float64
 92  f92     float64
 93  f93     float64
 94  f94     float64
 95  f95     float64
 96  f96     float64
 97  f97     float64
 98  f98     float64
 99  f99     float64
 100 f100    float64
 101 f101    float64
 102 f102    float64
 103 f103    float64
 104 f104    float64
 105 f105    float64
 106 f106    float64
 107 f107    float64
 108 f108    float64
 109 f109    float64
 110 f110    float64
 111 f111    float64
 112 f112    float64
 113 f113    float64
 114 f114    float64
 115 f115    float64
 116 f116    float64
 117 f117    float64
 118 f118    float64
 119 claim   int64
dtypes: float64(118), int64(2)
memory usage: 877.0 MB

In [6]:
#Are there any missing values 
play_train.isna().values.any()

True

In [7]:
#Number of missing values by each column in training data
play_train.isna().sum()

id           0
f1       15247
f2       15190
f3       15491
f4       15560
         ...
f115     15559
f116     15589
f117     15407
f118     15212
claim        0
Length: 120, dtype: int64

In [8]:
#Number of missing values by column in test data
play_test.isna().values.any()

True

In [9]:
play_test.isna().sum()

id         0
f1      7812
f2      7891
f3      7795
f4      7733
        ...
f114    7942
f115    7977
f116    8083
f117    7763
f118    7885
Length: 119, dtype: int64

In [10]:
#Seperating the target from the training data 
X = play_train.drop(['claim'], axis =1)
y = play_train['claim']

In [11]:
#Splitting training data into training and validation set 
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size = 0.2, random_state = 0)  
print(X_train.shape, X_val.shape, y_train.shape,y_val.shape)

(766335, 119) (191584, 119) (766335,) (191584,)

In [12]:
#Preparing the test data 
X_test = play_test

In [13]:
#Imputting missing values in training data 
from sklearn.impute import SimpleImputer 
imputer = SimpleImputer(missing_values=np.nan, strategy= 'mean')
imputer.fit(X_train)
X_train_imputed = imputer.transform(X_train)
X_train_imputed_df = pd.DataFrame(X_train_imputed, columns=X_train.columns)
print(X_train_imputed_df.isna().any())

id      False
f1      False
f2      False
f3      False
f4      False
        ...
f114    False
f115    False
f116    False
f117    False
f118    False
Length: 119, dtype: bool

In [14]:
#Imputing missing values in validation and test data
X_val_imputed_df = pd.DataFrame(imputer.transform(X_val), columns=X_val.columns)
X_test_imputed_df = pd.DataFrame(imputer.transform(X_test), columns=X_test.columns)
print(X_val_imputed_df.isna().any())
print(X_test_imputed_df.isna().any())

id      False
f1      False
f2      False
f3      False
f4      False
        ...
f114    False
f115    False
f116    False
f117    False
f118    False
Length: 119, dtype: bool
id      False
f1      False
f2      False
f3      False
f4      False
        ...
f114    False
f115    False
f116    False
f117    False
f118    False
Length: 119, dtype: bool

In [15]:
#Fitting a Random Forest Classifier 
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(X_train_imputed_df, y_train)
#Making predictions using validation data
y_predict = model.predict(X_valid_imputed_df)

NameError: name 'X_valid_imputed_df' is not defined

In [ ]:
from sklearn import metrics 
print('Accuracy: ', metrics.accuracy_score(y_predict, y_val))

Accuracy:  0.5477701686988475

In [ ]:
#Fitting an xg boost classifier 
import xgboost as xgb
model_xgb = xgb.XGBClassifier(n_estimators = 100, max_depth = 5) 
model_xgb.fit(X_train, y_train)
#Naking preditions
y_predict_xgb = model_xgb.predict(X_val)
#model accuracy 
print('Accuracy:', metrics.accuracy_score(y_predict_xgb, y_val))

C:\Users\Edson Kambeu\anaconda3\lib\site-packages\xgboost\sklearn.py:888: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[23:44:05] WARNING: ..\src\learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
Accuracy: 0.7384384917320862